<div class="sidebar" data-scroll-lock-fill-gap>
	<a href="./index.html" class="sidebar__logo logo">
		Персональный блог 
		<span>еще одного фрилансера</span>
	</a>
	<a href="./index.html" class="sidebar__avatar">
		<img src="images/me.jpg" alt="">
	</a>
	<label class="sidebar__showmenu" for="showmenu"></label>
	<input type="checkbox" id="showmenu">
	<div class="sidebar__menu">
		<label class="sidebar__hidemenu" for="showmenu"></label>
		<ul class="menu">
			<li class="menu__title active">
				<a href="./blog.html">Верстка</a>
				<ul>
					<li class="menu__subtitle"><a href="./blog.html">меню</a></li>
					<li class="menu__subtitle"><a href="./blog.html">формы</a></li>
					<li class="menu__subtitle"><a href="./blog.html">карточки</a></li>
					<li class="menu__subtitle active"><a href="./blog.html">табы</a></li>
					<li class="menu__subtitle"><a href="./blog.html">картинки</a></li>
					<li class="menu__subtitle"><a href="./blog.html">таблицы</a></li>
				</ul>
			</li>
			<li class="menu__title"><a href="./index.html">Обо мне</a></li>
			<li class="menu__title"><a href="./index.html">Портфолио</a></li>
			<li class="menu__title"><a href="./feedback.html">Контакты</a></li>
		</ul>
	</div>
</div> 