<div class="teaser @@class">
	<div class="teaser__caption caption">
		<div class="caption__date">
			<span>15</span>
			<span>декабря</span>
			<span>2018</span>
		</div>
		<div class="caption__side">
			<h2 class="caption__title"><a href="./article.html">Полезные приемы адаптивной верстки</a></h2>
			<div class="caption__tags">
				<a href="./index.html">Lorem</a>
				<a href="./index.html">Maxime</a>
				<a href="./index.html">Dignissimos</a>
			</div>
		</div>	
	</div>
	<div class="teaser__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt numquam totam in maiores maxime odio illum nemo culpa quod cupiditate perferendis tempora accusantium, velit recusandae. Aliquam tempore qui similique aliquid. Laborum consequatur dicta provident perspiciatis, suscipit nobis dolorum officiis, accusamus deleniti est quisquam enim dolorem, facere corporis quasi, doloremque exercitationem. <a href="./article.html">читать дальше..</a></div>
</div>